node_modules
.cache
build
.env
.env.*
!.env.example

# Git
.git
.gitignore

# Development
.DS_Store
*.log
.pnpm-debug.log*
.pnpm-store

# IDE
.vscode
.idea
*.swp
*.swo

# Build artifacts
dist
*.tsbuildinfo

# Testing
coverage
.nyc_output

# Misc
README.md
.github
